{% block html_head %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraph.org/schema/">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}{% block aftertitle %}{% endblock %}</title>

    {% block cssfiles %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}feedly/css/bootstrap.css" charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}feedly/css/bootstrap-responsive.css" charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}feedly/css/core.css" charset="utf-8">
    {% endblock %}

    {% block robots %}{% endblock %}
    {% block metadesc %}{% endblock %}
    {% block additional_head %}{% endblock %}
{% endblock %}


<body {% block body_additional %}{% endblock %}>
    
    <!-- Github Header -->
    <div id="github"><a href="https://github.com/tschellenbach/Feedly" title="Fork me on GitHub">Fork me on Github</a></div>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Feedly</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Stats</a></li>
              <li class="active"><a href="https://github.com/tschellenbach/Feedly/">Docs</a></li>
            </ul>  
            <ul class="nav pull-right">
              <li><a href="http://www.mellowmorning.com/" >Blog</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    
    
    {% block content %}
    {% endblock %}


<br/><br/><br/><br/>
<hr>

    {% block footer %}      
      <footer>
        <p>&copy; Thierry Schellenbach 2012</p>
        <!--<a target="_blank" href="https://secure.travis-ci.org/tschellenbach/Feedly.png?branch=master"><img alt="https://secure.travis-ci.org/tschellenbach/Feedly.png?branch=master" src="https://secure.travis-ci.org/tschellenbach/Feedly.png?branch=master" style="max-width:100%;"></a>
        -->
      </footer>
    {% endblock footer %}

    </div> <!-- /container -->
    
    {% block html_body_bottom %}
    
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}feedly/js/jquery-1.8.0.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}feedly/js/core.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}feedly/js/highcharts/highcharts.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}feedly/js/highcharts/modules/exporting.js"></script>
    
    <script type="text/javascript" charset="utf-8">
        mediaUrl = '{{ MEDIA_URL }}';
        staticUrl = '{{ STATIC_URL }}';
        
        {% block pre_javascript %}
        {% endblock pre_javascript %}
        
        function initialize($) {
            {% block javascript_onload %}
            {% endblock javascript_onload %}
        }
        jQuery().ready(initialize);
        
        {% block javascript %}
        {% endblock javascript %}
    </script>
    {% endblock %}
</body>
</html>


