{% load compress %}
<html>
    
<head>
{% compress css %}
<link rel="stylesheet" href="/static/css/base.css" type="text/css" charset="utf-8">
<link rel="stylesheet" href="/static/css/ale.scss" type="text/x-scss" charset="utf-8">
{% endcompress %}
  
</head>

<body>
<ol>
    <li><a href="{% url 'trending' %}">Trending</a></li>
    <li><a href="{% url 'feed' %}">Feed</a></li>
    <li><a href="{% url 'aggregated_feed' %}">Aggregated Feed (Facebook style)</a></li>
</ol>

{% if user.is_authenticated %}
<a href="{% url 'profile' user.username %}">My Profile</a>
{% endif %}

{% block content %}
{% endblock content %}
</body>
</html>
