{% extends 'core/_base.html' %}

{% block nav %}
    {% include "core/_nav.html" with location='aggregated_feed' %}
{% endblock nav %}

{% block content %}
    <div id="wrapper">
       {% for aggregated_activity in feed_pins %}
        <div class="aggregation media">
            <div class="pull-left">
                <img width='45' height='45' title='' alt='' src='data:image/jpg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDScUHBAWICkiIiAoHx8mKDIsJCYxJx8nLT03MTM0MS46LCs0RDM4NzQ5OjQBCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAC0ALQMBIgACEQEDEQH/xAAbAAACAgMBAAAAAAAAAAAAAAAEBQADAQYHAv/EACoQAAIBAwMCBAcBAAAAAAAAAAECAwAEEQUSMSFBIjJRYRUjYnGB0fAT/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AOhVZDDJO+2JCx9qxBE08yRJyxxTe+kbTY4EtcAHO7Izu45oB00acjLSRqfTmq59KuYhlQJB9H6oj422B8gZ7+Kq5tZmdcRIsZ7nmgW1Kb6jaia1S7RQJNoZwO9KKBloKg3LseQnSvGtMxvSp4VRtrGjTCK8CtxINv57UdqVqt5LiNts6L5WGNw9qBHUqyeCS3fZKuGxnnNW2tjPcjdGF25xuLcUDXRj/rYMknVdxXHt/GkJGCR6VsgVNPsDg52KTk9zWt0E44prFdxXiotxI0M6eWVTjNKqlAZcx7Z7gM5lK4w7dc+EmjNMmhtllMjqgKRnB7+HrScEjg4qUBmo3xu2CqCsS8A9/vQdSpQf/9k='>
            </div>
            <div class="media-body">
                <div class="media-heading">
                    <div class="aggregation-header">
                        <div class="aggregation-time pull-right">
                            <i class="glyphicon glyphicon-time"></i> {{ aggregated_activity.updated_at|timesince }} ago
                        </div>
                        <div class="aggregation-title">
                            <span>{{ aggregated_activity.last_activities|length }} pins </span>
                            {# DEBUG <span class="text-muted">{{ activity }} Group: {{ aggregated_activity.group }}</span> #}
                        </div>
                    </div>
                </div>
                {% for activity in aggregated_activity.last_activities %}
                    {% with activity.pin as pin %}
                    <article class="pin">
                        <figure>
                            <div class="pin-image-holder">
                                <img class="pin-image" src="{{ MEDIA_URL }}{{ pin.item.image }}">
                            </div>
                            {% if pin.message %}
                                <figcaption class="pin-caption">
                                    {{ pin.message }}
                                </figcaption>
                            {% endif %}
                        </figure>
                        <form class="pin-bottom" method="POST" action="{% url 'pin' %}">
                            <textarea class="form-control" name="message" placeholder="Comment..."></textarea>
                            {% csrf_token %}
                            <div class="media">
                                <div class="pull-left">                                    
                                    <input class="btn btn-primary btn-sm" type="submit" value="Pin">
                                </div>
                                <div class="media-body">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon text-muted">in</span>
                                        <input class="form-control" name="board_name" placeholder="Board name" type="text" value="My favourite things">
                                    </div>
                                </div>
                            </div>
                            <input name="influencer" type="hidden" value="{{ pin.user_id }}">
                            <input name="item" type="hidden" value="{{ pin.item_id }}">
                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                        </form>
                        <footer class="pin-attribution">                            
                            pinned <b>{{ pin.created_at|timesince }}</b> ago{# {{ activity.time|timesince }} #}
                        </footer>
                    </article>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}