{% extends 'core/_base.html' %}
{% block content %}
<div id="wrapper">
    <div id="columns">
        {% for pin in feed_pins %}
        <div class="pin">
            <img src="{{ MEDIA_URL }}{{ pin.item.image }}" />
            <p>
                {{ pin.message }}
            </p>
            <form method="POST" action="{% url 'pin' %}">
                <textarea name="message"></textarea>
                {% csrf_token %}
                <input name="board" type="text" value="1" />
                <input name="influencer" type="hidden" value="{{ pin.user_id }}" />
                <input name="item" type="hidden" value="{{ pin.item_id }}" />
                <input type="submit" />
            </form>
            <div class="attribution">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}